<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.sky.mapper.DishMapper">

    <insert id="add" keyProperty="id" useGeneratedKeys="true">
        insert into dish (id, category_id, description, image, name, price, status, create_time, update_time,
                          create_user, update_user)
        values (#{id}, #{categoryId}, #{description}, #{image}, #{name}, #{price}, #{status}, #{createTime},
                #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        update dish
        <set>
            category_id = #{categoryId},
            image = #{image},
            name = #{name},
            price = #{price},
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="batchDelete">
        delete from dish where id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="page" resultType="com.example.sky.pojo.vo.DishPageQueryVO">
        select d.id,d.name,d.category_id,d.price,d.image,d.description,d.status,d.update_time,c.name as categoryName
        from dish d inner join category c on (d.category_id = c.id)
        <where>
            <if test="categoryId != null">
                d.category_id = #{categoryId}
            </if>
            <if test="name != null and name != ''">
                and d.name like concat('%', #{name}, '%')
            </if>
            <if test="status != null">
                and d.status = #{status}
            </if>
        </where>
    </select>

    <select id="getCategoryId" resultType="java.lang.Long">
        select category_id from dish where id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

</mapper>